.title{
	float: left;
	display: inline-block;
	height: 450px;
	width: 150px;
	color: #fff;
	background: rgb(101, 164, 250);
	text-align: center;
	padding-top: 30px;
	margin-right: 20px; 
}
.main{
	float: left;
}
.clear:after{
	display: block;
	content: '';
	clear: both;
	height: 0;
}